---
- name: Install requirements
  apt:
    name: apt-transport-https
    state: present

- name: Add repository
  apt_repository:
    repo: deb https://packagecloud.io/prometheus-deb/release/ubuntu/ xenial main
    state: present
  when: ansible_distribution_release == 'xenial'

- name: Add Key
  apt_key:
    url: https://packagecloud.io/prometheus-deb/release/gpgkey
    state: present
  when: ansible_distribution_release == 'xenial'

- name: Install
  apt:
    # TODO: improve version handling
    name: "prometheus={{ prometheus_version }}-1"
    allow_unauthenticated: true
  when: ansible_distribution_release == 'xenial'
  register: install_packages_xenial
  until: install_packages_xenial is success
  retries: 5
  delay: 2

- name: Install
  apt:
    name: prometheus
  when: ansible_distribution_release == 'bionic'
  register: install_packages_bionic
  until: install_packages_bionic is success
  retries: 5
  delay: 2
...
