---
- name: "Init variables"
  set_fact:
    tmp_cached_node_admin_ip: {}
    tmp_cached_node_data_ip: {}
    tmp_cached_inventories: {}
    tmp_cached_inventory: {}
    tmp_cached_hostnames: {}
    tmp_cached_namespace: ""

- name: "Register IP of monitored node"
  set_fact:
    prometheus_node_data_ip: "\
      {{ hostvars[inventory_hostname]['ansible_' + prometheus_blackbox_node_data_iface]['ipv4']['address'] }}"
    prometheus_node_admin_ip: "\
      {{ hostvars[inventory_hostname]['ansible_' + prometheus_blackbox_node_admin_iface]['ipv4']['address'] }}"
  when: inventory_hostname in prometheus_monitored_hosts

- name: "Register IP of admin node"
  set_fact:
    prometheus_admin_ip: "\
      {{ hostvars[inventory_hostname]['ansible_'+prometheus_blackbox_admin_iface]['ipv4']['address'] }}"
  when: inventory_hostname == prometheus_admin_host

- name: Cache hostnames
  set_fact:
    tmp_cached_hostnames: "{{ tmp_cached_hostnames | combine({item: hostvars[item]['ansible_hostname']}) }}"
  with_items: "{{ prometheus_monitored_hosts }}"
  when: inventory_hostname == prometheus_admin_host

- name: Cache host data
  set_fact:
    tmp_cached_node_admin_ip: "{{ tmp_cached_node_admin_ip |\
     combine({item.value: hostvars[item.key]['prometheus_node_admin_ip']}) }}"
    tmp_cached_node_data_ip: "{{ tmp_cached_node_data_ip |\
     combine({item.value: hostvars[item.key]['prometheus_node_data_ip']}) }}"
    tmp_cached_inventories: "{{ tmp_cached_inventories | combine({item.value: 'inventory-' + item.key })}}"
  with_dict:
    - "{{ tmp_cached_hostnames }}"
  when: inventory_hostname == prometheus_admin_host

- name: "Cache admin IP and 'namespace' (for Jinja2)"
  set_fact:
    tmp_cached_admin_ip: "{{ prometheus_admin_ip }}"
    tmp_cached_namespace: "{{ hostvars[prometheus_monitored_hosts[0]]['namespace'] }}"
  when: inventory_hostname == prometheus_admin_host

- name: "Fetch inventories"
  fetch:
    src: "/etc/oio/sds/{{hostvars[inventory_hostname]['namespace']}}/inventory.yml"
    dest: "../inventories/{{hostvars[inventory_hostname]['namespace']}}/{{ansible_hostname}}.yml"
    flat: true
  changed_when: false
  when: inventory_hostname in prometheus_monitored_hosts

- name: "Load inventories as facts"
  include_vars:
    file: "../inventories/{{tmp_cached_namespace}}/{{item.key}}.yml"
    name: "{{item.value}}"
  with_dict: "{{ tmp_cached_inventories }}"
  when: inventory_hostname == prometheus_admin_host

- name: "Consolidate inventories into single dict"
  set_fact:
    tmp_cached_inventory: "{{ tmp_cached_inventory |\
      combine({item.key: hostvars[prometheus_admin_host][item.value]}) }}"
  with_dict: "{{ tmp_cached_inventories }}"
  when: inventory_hostname == prometheus_admin_host

- name: "Generate healthchecks"
  template:
    src: ../templates/blackbox.yml.j2
    dest: "{{ prometheus_conf_dir }}/targets/blackbox.yml"
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
  when:
    - inventory_hostname == prometheus_admin_host
    - prometheus_monitored_hosts | length > 1
  notify: reload prometheus
...
