groups:
  - name: default
    rules:
    - alert: TCPCheckFailed
      for: 10s
      expr: "probe_success{job='tcpcheck'} == 0"
      labels:
        severity: low
        # service: "{% raw %}{{ $labels.service }}{% endraw %}"
        # host: "{% raw %}{{ $labels.host }}{% endraw %}"
        # instance: "{% raw %}{{ $labels.instance }}{% endraw %}"
      annotations:
        message: "{% raw %}{{ $labels.service}} {{ $labels.dimension }} on {{ $labels.host }}: TCP check failed{% endraw %}"

    # Score check alert definitions
    - alert: ScoreCheckFailed
      expr: netdata_openio_score__average == 0
      for: 10s
      labels:
        host: "{% raw %}{{ $labels.instance }}{% endraw %}"
        instance: "{% raw %}{{ $labels.instance }}{% endraw %}"
        service: "{% raw %}{{ $labels.service }}{% endraw %}"
        severity: low
      annotations:
        message: "{% raw %}{{ $labels.service }} {{ $labels.instance }} on {{ $labels.host }}: Score is 0{% endraw %}"

    # Per service check alert definitions
    {% for service in prometheus_blackbox_services -%}
    - alert: {{ service }}HealthCheck
      expr: probe_success{job='{{ service }}'} == 0
      for: 10s
      labels:
        host: "{% raw %}{{ $labels.instance }}{% endraw %}"
        instance: "{% raw %}{{ $labels.instance }}{% endraw %}"
        service: "{{ service }}"
        severity: low
      annotations:
        message: "{% raw %}{{ $labels.service }} {{ $labels.instance }} on {{ $labels.host }}: Health check failed{% endraw %}"
    {% endfor %}
