#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

- labels:
    module: icmpcheck
  targets:
    {% for hostname, node_ip in tmp_cached_node_admin_ip.iteritems() %}
    - {{ hostname }},{{ tmp_cached_admin_ip }}=>{{ node_ip }}
    {% endfor %}

{% for svc in prometheus_tcpcheck_services %}
- labels:
    module: tcpcheck
    service: "{{ svc }}"
  targets:
    {% for hostname, data in tmp_cached_inventory.iteritems() %}
        {% set hloop = loop %}
        {% for service, instances in data.namespaces[tmp_cached_namespace].services.iteritems() if service == svc %}
            {% set src_ip = tmp_cached_node_data_ip[tmp_cached_node_data_ip.keys()[0 if hloop.last else hloop.index]] %}
            {% for conf in instances %}
    - {{ hostname }},{{ src_ip }}=>{{ conf.ip }}:{{ conf.port }}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}

- labels:
    module: blackbox
  targets:
    - {{ prometheus_admin_host }},{{ tmp_cached_admin_ip }}=>{{ tmp_cached_admin_ip }}:{{ prometheus_blackbox_port }}
    {% for hostname, data in tmp_cached_inventory.iteritems() %}
    - {{ hostname }},{{ tmp_cached_node_data_ip[hostname] }}=>{{ tmp_cached_node_data_ip[hostname] }}:{{ prometheus_blackbox_port }}
    {% endfor %}

{% for svc in prometheus_oioping_services %}
- labels:
    module: oioping
    service: "{{ svc }}"
  targets:
    {% for hostname, data in tmp_cached_inventory.iteritems() %}
        {% set hloop = loop %}
        {% for service, instances in data.namespaces[tmp_cached_namespace].services.iteritems() if service == svc %}
            {% set src_ip = tmp_cached_node_data_ip[tmp_cached_node_data_ip.keys()[0 if hloop.last else hloop.index]] %}
            {% for conf in instances %}
    - {{ hostname }},{{ src_ip }}=>{{ conf.ip }}:{{ conf.port }}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% for module in prometheus_monitored_services %}
- labels:
    module: "{{ module }}"
    service: "{{ module }}"
  targets:
    {% for hostname, data in tmp_cached_inventory.iteritems() %}
        {% set hloop = loop %}
        {% set services = data.namespaces[tmp_cached_namespace].services %}
        {% if module in services.keys() %}
            {% set src_ip = tmp_cached_node_data_ip[tmp_cached_node_data_ip.keys()[0 if hloop.last else hloop.index]] %}
            {% for instance in services[module] %}
    - {{ hostname }},{{ src_ip }}=>{{ instance.ip }}:{{ instance.port }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
