#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

- labels:
    module: icmpcheck
  targets:
    {% for hostname, node_ip in tmp_cached_node_admin_ip.iteritems() %}
    - {{ hostname }},{{ tmp_cached_admin_ip }}=>{{ node_ip }}
    {% endfor %}

- labels:
    module: tcpcheck
  targets:
    {% for hostname, data in tmp_cached_inventory.iteritems() %}
        {% for service, instances in data.namespaces[tmp_cached_namespace].services.iteritems() if service in prometheus_tcpcheck_services %}
            {% set src_ip = tmp_cached_node_data_ip[tmp_cached_node_data_ip.keys()[0 if loop.last else loop.index]] %}
            {% for conf in instances %}
    - {{service}},{{ hostname }},{{ src_ip }}=>{{ conf.ip }}:{{ conf.port }}
            {% endfor %}
        {% endfor %}
    {% endfor %}

- labels:
    module: oioping
  targets:
    {% for hostname, data in tmp_cached_inventory.iteritems() %}
        {% for service, instances in data.namespaces[tmp_cached_namespace].services.iteritems() if service in prometheus_oioping_services %}
            {% set src_ip = tmp_cached_node_data_ip[tmp_cached_node_data_ip.keys()[0 if (loop.index >= tmp_cached_node_data_ip | length) else loop.index]] %}
            {% for conf in instances %}
    - {{service}},{{ hostname }},{{ src_ip }}=>{{ conf.ip }}:{{ conf.port }}
            {% endfor %}
        {% endfor %}
    {% endfor %}


{% for module in prometheus_monitored_services %}
- labels:
    module: "{{module}}"
  targets:
    {% for hostname, data in tmp_cached_inventory.iteritems() %}
        {% set services = data.namespaces[tmp_cached_namespace].services %}
        {% if module in services.keys() %}
            {% set src_ip = tmp_cached_node_data_ip[tmp_cached_node_data_ip.keys()[0 if (loop.index >= tmp_cached_node_data_ip | length) else loop.index | int]] %}
            {% for instance in services[module] %}
    - {{ hostname }},{{ src_ip }}=>{{ instance.ip }}:{{ instance.port }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
