global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # The labels to add to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'master'

{% if prometheus_recording_rules | length > 0 %}
rule_files:
  {% for rule_file in prometheus_recording_rules %}
  - "{{ prometheus_rules_dir }}/{{ rule_file.name }}.rules"
  {% endfor %}
{% endif %}

{% if "alertmanager" in prometheus_components %}
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - {{ prometheus_alertmanager_opt_listen_ip }}:{{ prometheus_alertmanager_opt_port }}
{% endif %}

# A list of scrape configurations.
scrape_configs:
# Let prometheus scrape itself by default ...
- job_name: 'prometheus'
  scrape_interval: 10s
  scrape_timeout:  10s
  static_configs:
    - targets: ['localhost:9090']
# Assuming node_exporter is running / managed by this role - by default ...
{% if "node_exporter" in prometheus_components %}
  static_configs:
    - targets: ['{{ prometheus_node_exporter_opt_listen_ip }}:{{ prometheus_node_exporter_opt_port }}']
{% endif %}

{% if "pushgateway" in prometheus_components %}
- job_name: 'pushgateway'
scrape_interval: 5s
# metrics_path defaults to '/metrics'
# scheme defaults to 'http'.
  static_configs:
    - targets: ['{{ prometheus_pushgateway_opt_web_listen_address }}']
{% endif %}
{% if prometheus_static_targets is defined %}
  file_sd_configs:
    - files:
      - '{{ prometheus_file_sd_config_path }}/*.yml'
{% endif %}

{% if prometheus_jobs | length > 0 %}
{% for job in prometheus_jobs %}
- job_name: {{ job['name'] }}
  scrape_interval: {{ job['scrape_interval'] if 'scrape_interval' in job else '10s' }}
  metrics_path: '{{ job["metrics_path"] }}'
  params:
    format: [{{ job['format'] if 'format' in job else 'prometheus_all_hosts' }}]
  honor_labels: {{ job['honor_labels'] if 'honor_labels' in job else true }}
  static_configs:
  - targets: [{{ '"' + job['targets'] | join('","') + '"' }}]
{% endfor %}
{% endif %}

{% if "crate_adapter" in prometheus_components %}
{% if prometheus_cratedb_remote_write %}
remote_write:
   - url: http://{{ prometheus_crate_adapter_opt_listen_ip }}:{{ prometheus_crate_adapter_opt_port }}/write
{% endif %}
{% if prometheus_cratedb_remote_read %}
remote_read:
   - url: http://{{ prometheus_crate_adapter_opt_listen_ip }}:{{ prometheus_crate_adapter_opt_port }}/read
{% endif %}
{% endif %}

{% if prometheus_blackbox_enabled %}
- job_name: 'blackbox'
  scrape_interval: {{prometheus_blackbox_scrape}}
  metrics_path: /probe
  file_sd_configs:
    - files:
        - '{{prometheus_conf_dir}}/targets/blackbox/*.yml'
  relabel_configs:
    # Module replacements
    - source_labels: [module]
      target_label: __param_module
    # Job replacements
    - source_labels: [module]
      target_label: job

    # Target replacements
    - source_labels: [module, __address__]
      regex: ^[icmpcheck|tcpcheck|zookeeper|beanstalkd|redis|oioproxy].*;(.*)\=\>(.*)
      replacement: ${2}
      target_label: __param_target

    - source_labels: [module, __address__]
      regex: ^account;(.*)\=\>(.*)
      replacement: http://${2}/status
      target_label: __param_target

    - source_labels: [module, __address__]
      regex: ^rdir;(.*)\=\>(.*)
      replacement: http://${2}/status
      target_label: __param_target

    - source_labels: [module, __address__]
      regex: ^oioproxy;(.*)\=\>(.*)
      replacement: http://${2}/v3.0/status
      target_label: __param_target

    - source_labels: [module, __address__]
      regex: ^[meta0|meta1|meta2|conscience].*;(.*)=>(.*),(.*)
      replacement: http://${2}/v3.0/forward/stats?id=${3}
      target_label: __param_target

    - source_labels: [module, __address__]
      regex: ^rawx;(.*)=>(.*)
      replacement: http://${2}/info
      target_label: __param_target

    # Address replacements
    - source_labels: [__address__]
      regex: (.*)\=\>(.*)
      replacement: ${1}:{{prometheus_blackbox_port}}
      target_label: __address__

    # Instance replacements
    - source_labels: [__param_target]
      target_label: instance
    - source_labels: [module, __param_target]
      regex: ^[account|oioproxy|rawx|rdir].*;.*://(.*)/.*
      replacement: ${1}
      target_label: instance
    - source_labels: [module, __param_target]
      regex: ^[meta0|meta1|meta2|conscience].*;(.*)?id=(.*)
      replacement: ${2}
      target_label: instance
{% endif %}
