global:
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'master'

{% if prometheus_aggregation_rules | length > 0 %}
rule_files:
  {% for rule_file in prometheus_aggregation_rules %}
  - "{{ prometheus_conf_dir }}/rules/{{ rule_file.name }}.rules"
  {% endfor %}
  - "{{ prometheus_conf_dir }}/alerts/default.rules"
{% endif %}

scrape_configs:
- job_name: prometheus
  scrape_interval: 10s
  scrape_timeout:  10s
  static_configs:
    - targets: ['{{ prometheus_listen_ip }}:{{ prometheus_listen_port }}']

{% if prometheus_netdata_enabled -%}
- job_name: netdata
  scrape_interval: {{ prometheus_netdata_interval }}
  metrics_path: "/api/v1/allmetrics"
  params:
    format: [prometheus_all_hosts]
  honor_labels: true
  file_sd_configs:
    - files:
      - "{{ prometheus_conf_dir }}/targets/netdata.yml"
  static_configs:
    - targets: []
  metric_relabel_configs:
      # in: openio.score;OPENIO.account_10_240_0_23_6009
      # out: account
    - source_labels: [chart, dimension]
      regex: openio\.score;[^.]+\.([^_]+)_.+
      target_label: service
      # in: openio.score;OPENIO.account_10_240_0_23_6009
      # out: 10_240_0_23_6009
    - source_labels: [chart, dimension]
      regex: openio\.score;[^.]+\.[^_]+_(.+)
      target_label: s_instance
      # in: openio.byte_avail;OPENIO.10_240_0_23_6001.2579104859421935362
      # out: 10_240_0_23_6001
    - source_labels: [chart, dimension]
      regex: openio\.byte_(?:avail|free|used);[^.]+\.([^.]+)\..+
      target_label: s_instance
      # in: openio.rep_hits_2xx;OPENIO.10_240_0_23_6201
      # out: 10_240_0_23_6201
    - source_labels: [chart, dimension]
      regex: openio.rep_hits[^;]+;[^.]+\.(.+)
      target_label: s_instance
{% endif %}

{% if prometheus_blackbox_enabled -%}
- job_name: blackbox
  scrape_interval: {{ prometheus_blackbox_interval }}
  metrics_path: /probe
  file_sd_configs:
    - files:
        - '{{ prometheus_conf_dir }}/targets/blackbox.yml'
  relabel_configs:
    # Module replacements
    - source_labels: [module]
      target_label: __param_module
    # Job replacements
    - source_labels: [module]
      target_label: job

    # Register the host in `host`
    # in: worker-4,10.240.0.23=>10.240.0.24:6006
    # out: worker-4
    - source_labels: [__address__]
      regex: ([^,]+),.+
      target_label: host

    # Strip the host in the address
    # in: worker-4,10.240.0.23=>10.240.0.24:6006
    # out: 10.240.0.23=>10.240.0.24:6006
    - source_labels: [__address__]
      regex: "[^,]+,(.+)"
      target_label: __address__

    # Target replacements
    # in: beanstalkd;10.240.0.23=>10.240.0.24:6014
    # out: 10.240.0.24:6014
    - source_labels: [module, __address__]
      regex: (?:beanstalkd|icmpcheck|redis|redissentinel|tcpcheck|zookeeper|oioping|blackbox);[^=]+=>(.+)
      target_label: __param_target

    # in: rdir;10.240.0.23=>10.240.0.24:6301
    # out: http://10.240.0.24:6301/status
    - source_labels: [module, __address__]
      regex: (?:account|rdir);[^=]+=>(.+)
      replacement: http://${1}/status
      target_label: __param_target

    # in: oioproxy;10.240.0.23=>10.240.0.24:6006
    # out: http://10.240.0.24:6006/v3.0/status
    - source_labels: [module, __address__]
      regex: oioproxy;[^=]+=>(.+)
      replacement: http://${1}/v3.0/status
      target_label: __param_target

    # in: oioswift;10.240.0.23=>10.240.0.24:6007
    # out: http://10.240.0.24:6007/healthcheck
    - source_labels: [module, __address__]
      regex: oioswift;[^=]+=>(.+)
      replacement: http://${1}/healthcheck
      target_label: __param_target

    # in: rawx;10.240.0.23=>10.240.0.24:6201
    # out: http://10.240.0.24:6201/info
    - source_labels: [module, __address__]
      regex: rawx;[^=]+=>(.+)
      replacement: http://${1}/info
      target_label: __param_target

    # in: oiofs;10.240.0.23=>10.240.0.24:6999
    # out: http://10.240.0.24:6999/stats
    - source_labels: [module, __address__]
      regex: oiofs;[^=]+=>(.+)
      replacement: http://${1}/stats
      target_label: __param_target

    # Remove the targets part of the address
    # in: 10.240.0.23=>10.240.0.24:6201
    # out: 10.240.0.23:6115
    - source_labels: [__address__]
      regex: ([^=]+)=>.+
      replacement: ${1}:{{prometheus_blackbox_port}}
      target_label: __address__

    # Instance replacements
    # Default: do nothing
    - source_labels: [__param_target]
      target_label: instance

    # Second default
    # in: 10.240.0.24:6014
    # out: 10_240_0_24_6014
    # in: http://10.240.0.24:6007/healthcheck
    # out: 10_240_0_24_6007
    - source_labels: [__param_target]
      regex: (?:http://)?(\d+)\.(\d+)\.(\d+)\.(\d+)\:(\d+)(?:/.+)?
      replacement: ${1}_${2}_${3}_${4}_${5}
      target_label: instance

    # For icmpcheck: no port
    # in: 10.240.0.23
    # out: 10_240_0_23
    - source_labels: [module, __param_target]
      regex: icmpcheck;(\d+)\.(\d+)\.(\d+)\.(\d+)
      replacement: ${1}_${2}_${3}_${4}
      target_label: instance
{% endif %}
